<div class="inner">
	<div class="row 200%">
		<div class="6u 12u$(small)">
			<h3>Sandra Becker</h3>
			<span class="image fit"><img src="assets/images/sandra.jpg" alt="" /></span>
			<ul class="icons">
				<li><a href="https://www.linkedin.com/in/sandradataviz" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
				<li><a href="https://twitter.com/SandraCrypto" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://medium.com/@Sb_42" class="icon fa-medium"><span class="label">Medium</span></a></li>
				<li><a href="https://github.com/sandravizmad" class="icon fa-github"><span class="label">Github</span></a></li>
			</ul>
			<p style="font-size:0.9em;">Sandra Becker is an economist with more than 10 years of experience in designing statistic models within market, social- and trend research.</p>
			<p style="font-size:0.9em;">Since the beginning of 2015 with a special focus on concepts of the decentralised economy. Co-founder of the community <a href="http://ethereummadrid.com">Ethereum Madrid</a> and since 2017 teaching the concepts behind Bitcoin and Ethereum for various education programs as well as for the Master of Collaborative Economy at the University Sergio Arboleada.</p>
			<p style="font-size:0.9em;">In the beginning of 2018, together with Laurent, Sandra launched the Cryptoeconomics.hub with the objective to create a global academic space for collaborative learning and researching around cryptoeconomics and its elements.</p>
			<p style="font-size:0.9em;">#cryptoeconomics #ethereum #dataviz empower individuals & connections, democratise complexity, decentralise power, positive futurist, no crypto rich!</p>

			<ul class="actions fit">
				<li><a href="https://slides.com/sandravizmad" class="button special small fit">See the slides of my talks</a></li>
			</ul>
		</div>

		<div class="6u 12u$(small)">
			<h3>Laurent Hardy</h3>
			<span class="image fit"><img src="assets/images/laurent.jpg" alt="" /></span>
			<ul class="icons">
		    <li><a href="https://www.linkedin.com/in/lohardy/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
		    <li><a href="https://twitter.com/donhylo" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		    <li><a href="https://medium.com/@donhylo" class="icon fa-medium"><span class="label">Medium</span></a></li>
		    <li><a href="https://github.com/donhylo" class="icon fa-github"><span class="label">Github</span></a></li>
	    </ul>
			<p style="font-size:0.9em;">I like to think that I’m a challenger by nature: eager to get to bottom of things, understand how they work, find loopholes in reasonings, try the new instead of sleeping on the old.</p>
			<p style="font-size:0.9em;">In late 2015 I discovered blockchain technologies while I was working as senior technologist at Repsol Technology Centre on singular and futuristic matters. I could never stop learning about it. It has been a Pandora’s box that will last a long time before I can get to the bottom of it. Wiser and brighter people came into my life and made me see the world differently.</p>
			<p style="font-size:0.9em;">I cofounded <a href="http://ethereummadrid.com">Ethereum Madrid</a> in 2016 as way to learn, meet new people and share knowledge. In 2017 I started to go deeper in cryptoeconomics and in 2018, Sandra and I we cofounded Cryptoeconomics.hub to actively work and bring people together on what we believe is the most fundamental layer of logic of the blockchain space.</p>
			<p style="font-size:0.9em;">#decentralisation #new-forms-of-governance #social-inclusion #science-based-progress #logic-reasoning</p>

			<ul class="actions fit">
				<li><a href="https://slides.com/donhylo" class="button special small fit">See the slides of my talks</a></li>
			</ul>
		</div>
	</div>
</div>
