<head>
	<title>{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta property="og:site_name" content="Cryptoeconomics.hub" />
	<meta property="og:title" content="The Power and Fear of Incentives" />
	<meta property="og:image" content="https://www.cryptoeconomicshub.org/assets/images/thumbnail-ce.hub.png" />
	<meta property="og:description" content="Cryptoeconomics is the foundation of the decentralised world. Based on cryptography, game theory, mechanism design and network science, the objective is to align the incentives of the participants to achieve a global desirable outcome" />
	<meta property="og:url" content="https://www.cryptoeconomicshub.org" />

	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}" /><![endif]-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>
