<p style="text-transform: uppercase; font-size: 1.1em; font-weight: bold; color: #ed135a; margin-bottom: 5px;">24th May</p>
<h2><a href="https://www.meetup.com/cryptoeconomics-hub/events/249380145/">Introduction to Game Theory for Blockchain</a></h2>
<p><a href="https://twitter.com/clesaege">Clément Lesaege</a>, CTO of <a href="https://kleros.io">Kleros</a>, will introduce the concept of Game Theory in Blockchain. <a href="https://www.meetup.com/cryptoeconomics-hub/events/249380145/">Join the Meetup</a>.</p>

<p style="text-transform: uppercase; font-size: 1.1em; font-weight: bold; color: #ed135a; margin-bottom: 5px;">6th June</p>
<h2><a href="https://www.meetup.com/cryptoeconomics-hub/events/250449372/">Towards a Practice of Token Engineering</a></h2>
<p><a href="https://twitter.com/trentmc0">Trent McConaghy</a> will share learnings in how to go about designing tokenized ecosystems, from their experiences when designing Ocean Protocol.<a href="https://www.meetup.com/cryptoeconomics-hub/events/250449372/">Join the Meetup</a>.</p>

<p style="text-transform: uppercase; font-size: 1.1em; font-weight: bold; color: #ed135a; margin-bottom: 5px;">7th June</p>
<h2><a href="https://www.meetup.com/cryptoeconomics-hub/events/250305554/">Agent-based Computing Economics</a></h2>
<p><a href="https://twitter.com/JCBurguillo">Juan Carlos Burguillo-Rial</a> will talk about Agent-based Computing Economics as a new field of research to study human interactions within the economy.<a href="https://www.meetup.com/cryptoeconomics-hub/events/250305554/">Join the Meetup</a>.</p>
